div(class="sidebar")
    div(class="sidebar_menu")
        div(class="close_icon")
            i(class="fas fa-times")
        div(class="category flex")
            img(class="category_icon", src="static/img/icons/location_icon_green.png", alt="길찾기 아이콘")
            p 길찾기
        a(href="/restaurant")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Restaurant
                p(class="kr_desc") 레스토랑/카페
        a(href="/convenience_store")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Convenience store
                p(class="kr_desc") 편의점
        a(href="/pharmacy")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Pharmacy
                p(class="kr_desc") 약국
        a(href="/hospital")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Hospital
                p(class="kr_desc") 병원
        a(href="/household_goods_store")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Household goods store
                p(class="kr_desc") 생활용품 판매점
        a(href="/coin_laundry")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Coin Laundry
                p(class="kr_desc") 코인세탁소
        a(href="/exchange")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Exchange
                p(class="kr_desc") 환전소
        a(href="/tourist")
            div(class="menu_item")
                p(class="flex")
                    span(class="square")
                    span(class="title") Tourist
                p(class="kr_desc") 관광지
