.sub_header{
    background-color: #2F6633;
}
.sub_conatiner{
    padding-top: 90px;
    background-color: white;
}
.content_box{
    max-width: 940px;
    margin: 0 auto;
}
.border{
    border: 4px solid #f2f2f2;
}
.sub_title_box{
    display: grid;
    grid-template-columns: 72px 1fr;
    align-items: center;
    gap: 16px;
    padding: 20px 20px;
}
.sub_title_box .sub_title{
    font-size: 34px;
    font-weight: 600;
    color: #2f6633;
    margin-bottom: 3px; 
}
.sub_title_box .kr_desc{
    color: #aaa;
    font-weight: 500;
    font-size:18px;
}
.list_item{
    border-bottom: 1px solid #ddd;
    padding: 60px 0;
}
.list_item:last-child{
    border-bottom: none;
}
.list_item .left{
    width: 52%;
}
.list_item .right{
    width: 45%;
}
.list_item .text{
    font-size:18px;
    margin-left: 8px;
}
.list_item .flex{
    margin: 8px 0;
}
.list_item .title{
    font-size:26px;
    color: #2F6633;
    margin-bottom: 8px;
}
.list_item[data-filter="cafe"] .title{
    color: #679600
}
.list_item[data-filter="breakfast"] .title{
    color: #dd7e00
}
.list_item .sale{
    font-size: 14px;
    margin-bottom: 8px;
    background-color: #00968b;
    color: white;
    padding: 6px 10px;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    font-weight: 600;
}
.list_item .sale::before{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: white;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
}
.list_item .sale::after{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: white;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}
.list_item .card_icon{
    width: 32px;
}
.google_maps_btn{
    display:flex;
    border: 2px solid #4F6C0F;
    width: 240px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 8px;
    color: #4F6C0F;
    align-items: center;
    justify-content: center;
}
.google_maps_btn.flex{
    margin-top: 20px;
}
.google_maps_btn img{
    width: 36px;
    margin-right: 8px;
}
.store_img{
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    overflow: hidden;
    position: relative;
}
.store_img .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main_menu{
    margin-top: 8px;
}
.no_data{
    text-align:center;
    padding: 40px 0;
    font-size:20px;
    color: #999;
}
.filter_btn_box{
    display:flex;
    align-items: center;
    padding: 20px 20px 0;
    gap: 10px;
    flex-wrap: wrap;
}
.filter_btn_box .filter_btn{
    padding: 0 18px;
    border: 1px solid #2F6633;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    font-weight: 500;
}
.filter_btn_box .filter_btn.active{
    background-color: #2F6633;
    color: white;
}

@media screen and (max-width:1028px) {
    .sub_title_box.row{
        padding: 30px;
    }
    .list_item{
        padding: 30px 20px;
    }
}
@media screen and (max-width:768px){
    .list_item.row{
        flex-direction: column;
    }
    .list_item .left, 
    .list_item .right{
        width: 100%;
    }
    .list_item .right{
        margin-top: 20px;
    }
    .google_maps_btn{
        width: 300px;
    }
}
@media screen and (max-width:480px){   
    .sub_conatiner{
        padding-top: 60px;
    }
    .sub_title_box{
        grid-template-columns: 50px 1fr;
    }
    .sub_title_box .sub_title{
        font-size: 24px;
    }
    .sub_title_box .kr_desc{
        font-size:16px;
    }
    .list_item .card_icon{
        width: 24px;
    }
    .google_maps_btn{
        width: 100%;
        font-size:16px;
        padding: 8px 0;
        border-width: 1px;
        margin-top: 16px;
    }
    .list_item .title{
        font-size:20px;
    }
    .list_item .text{
        font-size:15px;
    }
    .google_maps_btn img{
        width: 32px;;
    }
}