extends base/layout.pug
include mixins/list_item.pug

block custom_css
    link(rel="stylesheet", href='/static/css/sub_page.css')

block content
    div(class="sub_conatiner")
            div(class="content_box sub_title_box")
                div
                    img(src="/static/img/icons/pharmacy.png", alt="약국 아이콘", class="icon")
                div
                    p(class="sub_title") Pharmacy
                    p(class="kr_desc") 약국
            div(class="border")
            div(class="content_box list_item_box")
                each item in pharmacyData
                    +list(item)
                else    
                    p(class="no_data") Sorry, Not Found :/
