extends base/layout.pug
include mixins/list_item.pug

block custom_css
    link(rel="stylesheet", href='/static/css/sub_page.css')

block content
    div(class="sub_conatiner")
            div(class="content_box sub_title_box")
                div
                    img(src="/static/img/icons/restaurant.png", alt="레스토랑/식당 아이콘", class="icon")
                div
                    p(class="sub_title") Restaurant
                    p(class="kr_desc") 레스토랑/카페
            div(class="border")
            div(class="content_box list_item_box")
                each item in retaurantData
                    +list(item)
                else
                    p(class="no_data") Sorry, Not Found :/
