extends base/layout.pug
include mixins/list_item.pug

block custom_css
    link(rel="stylesheet", href='/static/css/sub_page.css')

block content
    div(class="sub_conatiner")
            div(class="content_box sub_title_box")
                div
                    img(src="/static/img/icons/coin_laundry.png", alt="코인세탁소 아이콘", class="icon")
                div
                    p(class="sub_title") Coin Laundry
                    p(class="kr_desc") 세탁소
            div(class="border")
            div(class="content_box list_item_box")
                each item in coinLaundryData
                    +list(item)
                else
                    p(class="no_data") Sorry, Not Found :/
